body{
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
}

.navigation{
    text-align: center;
}

.list-station{
    width: 468px;
    height: 30px;
}

.number-station{
    height: 38px;
    width: 190px;
    text-align: center;
}

.field-benzine{
    text-align: center;
}

#field-liters-benzine{
    height: 32px;
    width: 270px;
    text-align: center;
}

.gas-button{
    height: 60px;
    width: 100px;
    font-size: 30px;
    margin: 10px;
    font-family: Russia;
}

.gas-button:hover{
    cursor: pointer;
    border-radius: 4%;
    background-color: lightsteelblue;
}

.option{
    margin-top: 10px;
}

.user-money {
    text-align: center;
    font-size: 42px;
    font-family: Russia;
}

.window-price{
    margin: 20px;
}

td{
    background-color: lightgreen;
}

th{
    background-color: lightyellow;
}

table, th, td{
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
    font-family: Russia;
    width: 472px;
    height: 30px;
    margin: auto;
}
